<li>
    {{burger_name}}

      <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}This burger is righteous{{else}}Burger Time!{{/if}}
      </button>

      <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>